<div local-class="habits_container">
  <div local-class="habits_title-container">
    {{index/date-bar}}
  </div>
  {{#each model as |habit|}}
    <div local-class="{{habit.color}} habit_container">
      <h2 local-class="{{habit.color}} habit-name">
        {{habit.name}}
      </h2>
      <div local-class="habit_container">
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
        {{fa-icon "check" size="1x" local-class="habit_icon"}}
        {{fa-icon "check" size="1x" local-class="habit_icon"}}
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
        {{fa-icon "check" size="1x" local-class="habit_icon"}}
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
      </div>
    </div>
  {{/each}}
</div>