<div local-class="habits_container">
  <div local-class="habits_title-container">
    <h1>
      Habits
    </h1>
    <div local-class="habit_date-container">
      <DateBlock local-class="habit_date" @month="mar" @day="10" />
      <DateBlock local-class="habit_date" @month="mar" @day="11" />
      <DateBlock local-class="habit_date" @month="mar" @day="12" />
      <DateBlock local-class="habit_date" @month="mar" @day="13" />
      <DateBlock local-class="habit_date" @month="mar" @day="14" />
      <DateBlock local-class="habit_date" @month="mar" @day="15" />
    </div>
  </div>
  {{#each model as |habit|}}
    <div local-class="{{habit.color}} habit_container">
      <h2 local-class="{{habit.color}} habit-name">
        {{habit.name}}
      </h2>
      <div local-class="habit_container">
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
        {{fa-icon "check" size="1x" local-class="habit_icon"}}
        {{fa-icon "check" size="1x" local-class="habit_icon"}}
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
        {{fa-icon "check" size="1x" local-class="habit_icon"}}
        {{fa-icon "square" size="1x" prefix="far" local-class="habit_icon"}}
      </div>
    </div>
  {{/each}}
</div>