<div local-class="habits_container">
  <div local-class="habits_title-container">
    <h1>Habits</h1>
    <DateBlock></DateBlock>
    <DateBlock></DateBlock>
    <DateBlock></DateBlock>
    <DateBlock></DateBlock>
    <DateBlock></DateBlock>
    <DateBlock></DateBlock>
  </div>
  {{#each model as |habit|}}
    <div local-class="habit_container">
      <h3>{{habit.name}}</h3>
      <div local-class="habit_check-container">

        {{fa-icon "check" local-class="habit_check-icon"}}
        {{fa-icon "check" local-class="habit_check-icon"}}
        {{fa-icon "check" local-class="habit_check-icon"}}
        {{fa-icon "check" local-class="habit_check-icon"}}
        {{fa-icon "check" local-class="habit_check-icon"}}
        {{fa-icon "check" local-class="habit_check-icon"}}
        {{fa-icon "check" local-class="habit_check-icon"}}
      </div>
    </div>

  {{/each}}
</div>